/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ziadbkh/zerocaller Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/
params {
    stage = "all"
    fastq_max_size = 12884901888
    
    fastqsplitter_args = " -c 6 "
    fastqsplitter_cpus = 6
    fastqsplitter_memory = 16.GB
    fastqsplitter_walltime = 6.h

    merge_bams_cpus = 24
    merge_bams_memory = 16.GB
    merge_bams_walltime = 6.h
    merge_bams_args = null

    align_sort_cpus = 24
    align_sort_memory  = 32.GB
    align_sort_walltime = 24.h
    bwa_args = " -v 3 -Y "
    bamsormadup_args = " inputformat=sam  outputformat=bam  optminpixeldif=2500 "


    haplotypecaller_cpus   = 24
    haplotypecaller_memory = 16.GB
    haplotypecaller_walltime = 24.h
    haplotypecaller_args = " -G StandardAnnotation -G StandardHCAnnotation -G AS_StandardAnnotation -stand-call-conf 15.0  -GQB 5 -GQB 10 -GQB 15 -GQB 20 -GQB 30 -GQB 40 -GQB 50 -GQB 60  -ERC GVCF "
    haplotypecaller_java_options = "-Xmx8000m -XX:GCTimeLimit=50 -XX:GCHeapFreeLimit=10 -XX:ParallelGCThreads=2"

    mergevcfs_cpus = 24
    mergevcfs_memory = 16.GB
    mergevcfs_walltime = 6.h
    mergevcfs_args = null
    mergevcfs_java_options = "-Xmx8000m -XX:GCTimeLimit=50 -XX:GCHeapFreeLimit=10 -XX:ParallelGCThreads=2"

    vtnorm_cpus = 6
    vtnorm_memory = 8.GB
    vtnorm_walltime = 24.h
    vtnorm_args = " -n "

    vep_species = "homo_sapiens"
    vep_cache_version = "100"
    vep_cpus = 36
    vep_memory = 32.GB
    vep_walltime = 20.h
    vep_args = " --vcf --offline --no_progress --canonical --polyphen b --sift b --symbol --numbers --terms SO --biotype  --total_length --fields Consequence,Codons,Amino_acids,Gene,SYMBOL,Feature,INTRON,EXON,PolyPhen,SIFT,Protein_position,BIOTYPE,CANONICAL,Feature_type,cDNA_position,CDS_position,Existing_variation,DISTANCE,STRAND,CLIN_SIG,LoFtool,RadialSVM_score,RadialSVM_pred,LR_score,LR_pred,CADD_raw,CADD_phred,Reliability_index,HGVSc,HGVSp,DOMAINS --hgvs --domains --shift_hgvs 1 --merged --plugin LoFtool --plugin vep_plugins/"

    vcfanno_cpus = 8
    vcfanno_memory = 24.GB
    vcfanno_walltime = 21.h
    vcfanno_args = ""
    vcfanno_args2 = ""

    vcf2tsv_cpus = 6
    vcf2tsv_memory = 64.GB
    vcf2tsv_walltime = 21.h
    vcf2tsv_args =  "--debug --keep-header --sort --chunksize 250000"

    tabix_cpus = 1
    tabix_memory = 8.GB
    tabix_walltime = 4.h
    tabix_args =  " -p vcf "
}

process {

    // TODO nf-core: Check the defaults for all processes
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }
    cache='lenient'
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Process-specific resource requirements
    // NOTE - Please try and re-use the labels below as much as possible.
    //        These labels are used and recognised by default in DSL2 files hosted on nf-core/modules.
    //        If possible, it would be nice to keep the same label naming convention when
    //        adding in your local modules too.
    // TODO nf-core: Customise requirements for specific processes.
    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withLabel:process_single {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_low {
        cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
        memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h   * task.attempt, 'time'    ) }
    }
    withLabel:process_medium {
        cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
        memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h   * task.attempt, 'time'    ) }
    }
    withLabel:process_high {
        cpus   = { check_max( 12    * task.attempt, 'cpus'    ) }
        memory = { check_max( 72.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 16.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_long {
        time   = { check_max( 20.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_high_memory {
        memory = { check_max( 200.GB * task.attempt, 'memory' ) }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
    withName:CUSTOM_DUMPSOFTWAREVERSIONS {
        cache = false
    }

    withName:ALIGNANDSORT {
        ext.singularity_pull_docker_container = true
    }
}
