/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/ausargph -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'GADI profile'
    config_profile_description = 'Configuration to run on GADI supercomputer at NCI'

    // Limit resources so that this can run on GitHub Actions
    // Max resource options
    // Defaults only, expecting to be overwritten
    
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '24.h'
    
                    
    
   
}


singularity.cacheDir = "/g/data/if89/singularity_cache"


process {
    executor = 'pbspro'
    beforeScript = 'module load singularity'
    
    clusterOptions = { "-l storage=gdata/if89+gdata/ll61,ncpus=${task.cpus},mem=${task.memory.toGiga()}G" }
    queue = 'normal'
    
}
