/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/ausargph -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Setonix profile'
    config_profile_description = 'Configuration to run on Setonix supercomputer at Pawsey'


    fasta = "/software/projects/pawsey0843/data_library/refgenome/GRCh38_no_alt.fa"
    intervals = "/software/projects/pawsey0843/data_library/interval_lists.17/"
    vep_cache = "/scratch/pawsey0843/ziadbkh/data_lib_cci/vep_cache/"
    vep_plugins = "/scratch/pawsey0843/ziadbkh/data_lib_cci/vep_plugins/"
    vcfanno_toml= "/scratch/pawsey0843/ziadbkh/data_lib_cci/vcfanno_config/vcfanno_hg38_110722.toml"
    vcfanno_resources = "/scratch/pawsey0843/ziadbkh/data_lib_cci/vcfanno_resources/"
    vcfanno_lua_func = "/scratch/pawsey0843/ziadbkh/data_lib_cci/vcfanno_lua_func/vcfanno_functions.lua"
    vcf2tsv_preferred_transcript = "/scratch/pawsey0843/ziadbkh/data_lib_cci/vcf2tsv_preferred_transcript/pref_transcript_hg38.tsv"
    vcf2tsv_config = "/scratch/pawsey0843/ziadbkh/data_lib_cci/vcf2tsv_config/config_v1.4.4.py"


    // Limit resources so that this can run on GitHub Actions
    // Max resource options
    // Defaults only, expecting to be overwritten

    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '24.h'

    aws_profile = "ccicbgenomics"




}


singularity.cacheDir = "/software/projects/pawsey0843/singularity/"


process {
    executor = 'slurm'
    beforeScript = 'source /software/projects/pawsey0843/nf-tower/nft_initiate_compute_env.sh'
    queue = 'work'
    cpus = 6
    memory = 124.GB
    time = 24.h
    clusterOptions = "--account=pawsey0843"
    //ext.singularity_pull_docker_container = true
}

aws.client.endpoint = 'https://s3.ccia.org.au:10443'
aws.region = "au-east-syd"
aws.client.s3PathStyleAccess = true
aws.profile = params.aws_profile
